/* line 28, ../sass/school-renew.scss */
.ya-article {
    width: 100%;
    *zoom: 1;
}
/* line 15, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-article:before, .ya-article:after {
    content: "";
    display: table;
    line-height: 0;
}
/* line 22, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-article:after { clear: both; }
/* line 30, ../sass/school-renew.scss */

.ya-article .ya-main-section {
    float: left;
    margin-left: 2.12766%;
    width: 74.4681%;
}
/* line 23, ../sass/school-renew.scss */

.ya-article .ya-main-section:first-child { margin-left: 0; }

@media (max-width: 979px) {
    /* line 30, ../sass/school-renew.scss */
    .ya-article .ya-main-section {
        float: left;
        margin-left: 0%;
        width: 100.00002%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-article .ya-main-section:first-child { margin-left: 0; }
}
    /* line 36, ../sass/school-renew.scss */

.ya-article .ya-right-sidebar {
    float: left;
    margin-left: 2.12766%;
    width: 23.40426%;
}
/* line 23, ../sass/school-renew.scss */

.ya-article .ya-right-sidebar:first-child { margin-left: 0; }

/* line 42, ../sass/school-renew.scss */

.ya-school-renew-header {
    margin-bottom: 30px;
    width: 100%;
    *zoom: 1;
}
/* line 15, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-school-renew-header:before, .ya-school-renew-header:after {
    content: "";
    display: table;
    line-height: 0;
}
/* line 22, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-school-renew-header:after { clear: both; }
/* line 45, ../sass/school-renew.scss */

.ya-school-renew-header .ya-school-renew-header-left {
    float: left;
    margin-left: 2.12766%;
    width: 31.9149%;
}
/* line 23, ../sass/school-renew.scss */

.ya-school-renew-header .ya-school-renew-header-left:first-child { margin-left: 0; }
/* line 48, ../sass/school-renew.scss */

.ya-school-renew-header .ya-school-renew-header-right {
    float: left;
    margin-left: 2.12766%;
    width: 65.95746%;
}
/* line 23, ../sass/school-renew.scss */

.ya-school-renew-header .ya-school-renew-header-right:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 48, ../sass/school-renew.scss */
    .ya-school-renew-header .ya-school-renew-header-right {
        float: left;
        margin-left: 0%;
        width: 100.00002%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-school-renew-header .ya-school-renew-header-right:first-child { margin-left: 0; }
}

@media (max-width: 767px) {
    /* line 53, ../sass/school-renew.scss */
    .ya-school-renew-header .ya-school-renew-header-right > h3 { font-size: 17px; }
}

    /* line 63, ../sass/school-renew.scss */

.ya-school-renew { padding: 30px; }

@media (max-width: 767px) {
    /* line 63, ../sass/school-renew.scss */
    .ya-school-renew { padding: 30px 15px; }
}

    /* line 71, ../sass/school-renew.scss */

.ya-annual-costs {
    background-color: #fff9e6;
    border: 2px solid #999999;
    border-radius: 3px;
    padding: 15px;
}

@media (max-width: 767px) {
    /* line 71, ../sass/school-renew.scss */
    .ya-annual-costs { padding: 6px 10px; }
}

@media (max-width: 767px) {
    /* line 79, ../sass/school-renew.scss */
    .ya-annual-costs .ya-section-content { display: none; }
}
    /* line 84, ../sass/school-renew.scss */

.ya-annual-costs span[data-icon] {
    color: #4E453E;
    font-size: 16px;
    margin: 0 0 0 5px;
}

@media (max-width: 767px) {
    /* line 89, ../sass/school-renew.scss */
    .ya-annual-costs h3 { font-size: 17px; }
}

    /* line 95, ../sass/school-renew.scss */

.ya-school-renew-block {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    *zoom: 1;
}
/* line 15, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-school-renew-block:before, .ya-school-renew-block:after {
    content: "";
    display: table;
    line-height: 0;
}
/* line 22, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-school-renew-block:after { clear: both; }

/* line 101, ../sass/school-renew.scss */

.ya-help-icon { color: #e5a053 !important; }

/* line 106, ../sass/school-renew.scss */

span[data-icon] { font-size: 20px;
    /*margin: 10px;*/ }

@media (max-width: 767px) {
    /* line 106, ../sass/school-renew.scss */
    span[data-icon] { font-size: 18px; }
}

    /* line 113, ../sass/school-renew.scss */

.ya-school-renewal-date-block {
    display: inline-block;
    margin: 30px 0;
    width: 100%;
}
/* line 117, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date {
    float: left;
    margin-left: 2.12766%;
    width: 74.4681%;
}
/* line 23, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 117, ../sass/school-renew.scss */
    .ya-school-renewal-date-block .ya-school-renewal-date {
        float: left;
        margin-left: 2.12766%;
        width: 100.00002%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-school-renewal-date-block .ya-school-renewal-date:first-child { margin-left: 0; }
}
    /* line 122, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-label {
    float: left;
    margin-left: 2.12766%;
    width: 23.40426%;
}
/* line 23, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-label:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 122, ../sass/school-renew.scss */
    .ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-label {
        float: left;
        margin-left: 2.12766%;
        width: 48.93618%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-label:first-child { margin-left: 0; }
}
    /* line 128, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-value {
    float: left;
    margin-left: 2.12766%;
    width: 74.4681%;
}
/* line 23, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-value:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 128, ../sass/school-renew.scss */
    .ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-value {
        float: left;
        margin-left: 2.12766%;
        width: 48.93618%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-value:first-child { margin-left: 0; }
}
    /* line 133, ../sass/school-renew.scss */

.ya-school-renewal-date-block .ya-school-renewal-date .ya-school-renewal-date-value .ya-action { cursor: pointer; }

/* line 139, ../sass/school-renew.scss */

.ya-school-renew-paybtn-region {
    float: left;
    margin-left: 2.12766%;
    width: 23.40426%;
}
/* line 23, ../sass/school-renew.scss */

.ya-school-renew-paybtn-region:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 139, ../sass/school-renew.scss */
    .ya-school-renew-paybtn-region {
        float: left;
        margin-left: 2.12766%;
        text-align: center;
        width: 100.00002%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-school-renew-paybtn-region:first-child { margin-left: 0; }
  /* line 144, ../sass/school-renew.scss */

    .ya-school-renew-paybtn-region .ya-school-renew-paybtn { float: none; }
}

    /* line 149, ../sass/school-renew.scss */

.ya-school-renew-paybtn { margin-top: 38px; }

/* line 152, ../sass/school-renew.scss */

.ya-total-calc-region {
    color: #e5a053;
    font-weight: bold;
}
/* line 155, ../sass/school-renew.scss */

.ya-total-calc-region .ya-total-label { margin-right: 22.5px; }

/* line 160, ../sass/school-renew.scss */

.ui-datepicker { font-size: 12px; }

/* line 163, ../sass/school-renew.scss */

.ui-datepicker-trigger {
    cursor: pointer;
    float: left;
    margin: 4px 5px;
}

/* line 168, ../sass/school-renew.scss */

.ya-track-name {
    float: left;
    margin-left: 2.12766%;
    width: 31.9149%;
}
/* line 23, ../sass/school-renew.scss */

.ya-track-name:first-child { margin-left: 0; }
/* line 170, ../sass/school-renew.scss */

.ya-track-name img {
    float: left;
    margin-right: 10px;
}

@media (max-width: 767px) {
    /* line 170, ../sass/school-renew.scss */
    .ya-track-name img {
        float: left;
        margin-left: 2.12766%;
        width: 48.93618%;
        width: 70px;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-track-name img:first-child { margin-left: 0; }
}

@media (max-width: 767px) {
    /* line 168, ../sass/school-renew.scss */
    .ya-track-name {
        float: left;
        margin-left: 2.12766%;
        width: 48.93618%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-track-name:first-child { margin-left: 0; }
}

    /* line 182, ../sass/school-renew.scss */

.ya-track-Status {
    float: left;
    margin-left: 2.12766%;
    width: 31.9149%;
}
/* line 23, ../sass/school-renew.scss */

.ya-track-Status:first-child { margin-left: 0; }

/* line 185, ../sass/school-renew.scss */

.ya-item-description {
    float: left;
    margin-left: 2.12766%;
    width: 23.40426%;
}
/* line 23, ../sass/school-renew.scss */

.ya-item-description:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 185, ../sass/school-renew.scss */
    .ya-item-description {
        float: left;
        margin-left: 2.12766%;
        width: 31.9149%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-item-description:first-child { margin-left: 0; }
}

    /* line 191, ../sass/school-renew.scss */

.ya-amount-money {
    float: left;
    margin-left: 2.12766%;
    margin-top: 10px;
    width: 6.38298%;
}
/* line 23, ../sass/school-renew.scss */

.ya-amount-money:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 191, ../sass/school-renew.scss */
    .ya-amount-money {
        float: left;
        margin-left: 2.12766%;
        width: 14.89362%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-amount-money:first-child { margin-left: 0; }
}

    /* line 198, ../sass/school-renew.scss */

.ya-school-renew-section-bar {
    background-color: #eee;
    border: 2px solid #333333;
    border-radius: 3px;
    margin: 30px 0;
    padding: 0 15px;
    *zoom: 1;
}
/* line 15, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-school-renew-section-bar:before, .ya-school-renew-section-bar:after {
    content: "";
    display: table;
    line-height: 0;
}
/* line 22, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-school-renew-section-bar:after { clear: both; }

/* line 206, ../sass/school-renew.scss */

.ya-plus-minus-icon {
    cursor: pointer;
    margin: 10px 0;
}

/* line 210, ../sass/school-renew.scss */

.ya-align-middle {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}

/* line 215, ../sass/school-renew.scss */

.ya-do-not-renew { margin-left: 15px; }

@media (max-width: 767px) {
    /* line 215, ../sass/school-renew.scss */
    .ya-do-not-renew { margin-left: 0; }
}

    /* line 221, ../sass/school-renew.scss */

.ya-lead {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7.5px;
}

@media (max-width: 767px) {
    /* line 221, ../sass/school-renew.scss */
    .ya-lead {
        font-size: 14px;
        line-height: 1;
    }
}

    /* line 231, ../sass/school-renew.scss */

.ya-grey-border-bottom, .ya-black-border-bottom {
    border-bottom: 2px solid #cccccc;
    margin: 15px 0;
    padding-bottom: 10px;
}

/* line 236, ../sass/school-renew.scss */

.ya-black-border-bottom { border-bottom: 2px solid #333333; }

/* line 240, ../sass/school-renew.scss */

.ya-position-right-bottom {
    bottom: 10px;
    position: absolute;
    right: 0;
}

/* line 246, ../sass/school-renew.scss */

.ya-tracks-section, .ya-locaions-section, .ya-trainers-section {
    margin-bottom: 15px;
    *zoom: 1;
}
/* line 15, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-tracks-section:before, .ya-locaions-section:before, .ya-trainers-section:before, .ya-tracks-section:after, .ya-locaions-section:after, .ya-trainers-section:after {
    content: "";
    display: table;
    line-height: 0;
}
/* line 22, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-tracks-section:after, .ya-locaions-section:after, .ya-trainers-section:after { clear: both; }
/* line 249, ../sass/school-renew.scss */

.ya-tracks-section .ya-alliance-active-rys, .ya-locaions-section .ya-alliance-active-rys, .ya-trainers-section .ya-alliance-active-rys {
    float: left;
    margin-left: 2.12766%;
    width: 74.4681%;
}
/* line 23, ../sass/school-renew.scss */

.ya-tracks-section .ya-alliance-active-rys:first-child, .ya-locaions-section .ya-alliance-active-rys:first-child, .ya-trainers-section .ya-alliance-active-rys:first-child { margin-left: 0; }

/* line 256, ../sass/school-renew.scss */

.ya-locaions-section .ya-new-location, .ya-locaions-section .ya-primary-location {
    background-color: #8FB576;
    border-radius: 8px;
    padding: 5px 30px;
}
/* line 261, ../sass/school-renew.scss */

.ya-locaions-section .ya-primary-location {
    background-color: #9fc5f8;
    padding: 5px 15px;
}
/* line 266, ../sass/school-renew.scss */

.ya-locaions-section .ya-total-calc-region { margin-top: -45px; }

@media (max-width: 767px) {
    /* line 266, ../sass/school-renew.scss */
    .ya-locaions-section .ya-total-calc-region { margin-top: 0; }
}

    /* line 275, ../sass/school-renew.scss */

.ya-trainers-section .ya-trainer-include-container {
    width: 100%;
    *zoom: 1;
}
/* line 15, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-trainers-section .ya-trainer-include-container:before, .ya-trainers-section .ya-trainer-include-container:after {
    content: "";
    display: table;
    line-height: 0;
}
/* line 22, ../../../../../compass.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.0.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */

.ya-trainers-section .ya-trainer-include-container:after { clear: both; }
/* line 277, ../sass/school-renew.scss */

.ya-trainers-section .ya-trainer-include-container .ya-trainer-include {
    float: left;
    font-size: 13px;
    margin-left: 2.12766%;
    margin-top: 1px;
    text-align: center;
    width: 6.38298%;
}
/* line 23, ../sass/school-renew.scss */

.ya-trainers-section .ya-trainer-include-container .ya-trainer-include:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 277, ../sass/school-renew.scss */
    .ya-trainers-section .ya-trainer-include-container .ya-trainer-include {
        float: left;
        margin-left: 2.12766%;
        width: 14.89362%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-trainers-section .ya-trainer-include-container .ya-trainer-include:first-child { margin-left: 0; }
}
    /* line 286, ../sass/school-renew.scss */

.ya-trainers-section .ya-trainer-include-container .ya-trainer-include-content {
    float: left;
    margin-left: 2.12766%;
    width: 91.48938%;
}
/* line 23, ../sass/school-renew.scss */

.ya-trainers-section .ya-trainer-include-container .ya-trainer-include-content:first-child { margin-left: 0; }

@media (max-width: 767px) {
    /* line 286, ../sass/school-renew.scss */
    .ya-trainers-section .ya-trainer-include-container .ya-trainer-include-content {
        float: left;
        margin-left: 2.12766%;
        width: 82.97874%;
    }
  /* line 23, ../sass/school-renew.scss */

    .ya-trainers-section .ya-trainer-include-container .ya-trainer-include-content:first-child { margin-left: 0; }
}

@media (max-width: 767px) {
    /* line 291, ../sass/school-renew.scss */
    .ya-trainers-section .ya-trainer-include-container .ya-trainer-include-content .ya-margin-left { margin-left: 0; }
}

    /* line 299, ../sass/school-renew.scss */

.ya-green-font { color: #119e20; }

/* line 302, ../sass/school-renew.scss */

.ya-grey-font { color: #666768; }

/* line 305, ../sass/school-renew.scss */

.ya-margin-left { margin-left: 30px; }

/* line 308, ../sass/school-renew.scss */

.ya-smallpos {
    display: inline-block;
    margin: 5px 0 0 0;
}

/* line 312, ../sass/school-renew.scss */

.ya-mediumpos {
    display: inline-block;
    margin: 10px 0 0 0;
}


@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_0_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_0_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_0_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_0_0.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_1_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_1_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_1_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_1_0.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_2_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_2_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_2_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_2_0.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_3_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_3_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_3_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_3_0.ttf") format("truetype");
}

@font-face {
    font-family: 'YogaAlliance';
    src: url("http://positivefutures.com/ya/icon-font/YogaAlliance.eot");
    src: url("http://positivefutures.com/ya/icon-font/YogaAlliance.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/icon-font/YogaAlliance.woff") format("woff"), url("http://positivefutures.com/ya/icon-font/YogaAlliance.ttf") format("truetype"), url("http://positivefutures.com/ya/icon-font/YogaAlliance.svg#YogaAlliance") format("svg");
    font-weight: normal;
    font-style: normal;
}

    /*
@font-face {
	font-family: 'YogaAlliance';
	src:url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.eot');
	src:url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.eot?#iefix') format('embedded-opentype'),
		url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.woff') format('woff'),
		url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.ttf') format('truetype'),
		url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.svg#YogaAlliance') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
    /* line 64, ../../sass/partials/_fonts.scss */

[data-icon]:before {
    -webkit-font-smoothing: antialiased;
    content: attr(data-icon);
    display: inline-block;
    font-family: 'YogaAlliance';
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

/* line 78, ../../sass/partials/_fonts.scss */

.divider:before {
    -webkit-font-smoothing: antialiased;
    content: "\003E";
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}


/* ####################################################
NOTE
I am coding styles using SASS (.scss) which is then compiled using Compass into this .css

This file is currently a rough work in progress and such I haven't yet cleaned, organized, or documented it properly. I hope to in the next few days. 

For now, if you can, link (in the <head> after all other stylesheets) directly to this file in my Dropbox so you'll always have the latest clean version. We'll consolidate into one or very few stylesheets later

Created by Jeff Baker
###################################################
*/
/* LEGACY CODE - TO CLEAN OUT */
/* DEFAULTS ###################################### */
/* line 28, ../sass/partials/_defaults.scss */

*, *:before, *:after { box-sizing: border-box; }

/* line 32, ../sass/partials/_defaults.scss */

input { box-sizing: content-box; }

@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_0_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_0_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_0_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_0_0.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_1_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_1_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_1_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_1_0.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_2_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_2_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_2_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_2_0.ttf") format("truetype");
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("http://positivefutures.com/ya/web-font/27BA9B_3_0.eot");
    src: url("http://positivefutures.com/ya/web-font/27BA9B_3_0.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/web-font/27BA9B_3_0.woff") format("woff"), url("http://positivefutures.com/ya/web-font/27BA9B_3_0.ttf") format("truetype");
}

@font-face {
    font-family: 'YogaAlliance';
    src: url("http://positivefutures.com/ya/icon-font/YogaAlliance.eot");
    src: url("http://positivefutures.com/ya/icon-font/YogaAlliance.eot?#iefix") format("embedded-opentype"), url("http://positivefutures.com/ya/icon-font/YogaAlliance.woff") format("woff"), url("http://positivefutures.com/ya/icon-font/YogaAlliance.ttf") format("truetype"), url("http://positivefutures.com/ya/icon-font/YogaAlliance.svg#YogaAlliance") format("svg");
    font-weight: normal;
    font-style: normal;
}

    /*
@font-face {
	font-family: 'YogaAlliance';
	src:url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.eot');
	src:url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.eot?#iefix') format('embedded-opentype'),
		url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.woff') format('woff'),
		url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.ttf') format('truetype'),
		url('http://cdn.yogaalliance.org/icon-font/YogaAlliance.svg#YogaAlliance') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
    /* line 64, ../sass/partials/_fonts.scss */

[data-icon]:before {
    -webkit-font-smoothing: antialiased;
    content: attr(data-icon);
    display: inline-block;
    font-family: 'YogaAlliance';
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

/* line 78, ../sass/partials/_fonts.scss */

.divider:before {
    -webkit-font-smoothing: antialiased;
    content: "\003E";
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

/* line 128, ../sass/partials/_defaults.scss */

section.collapse {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0 !important;
}

/* line 139, ../sass/partials/_defaults.scss */

body {
    color: #4e453e;
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* line 149, ../sass/partials/_defaults.scss */

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    line-height: 1.1em;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

/* line 157, ../sass/partials/_defaults.scss */

h1 {
    color: #b4341d;
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
}

/* line 163, ../sass/partials/_defaults.scss */

h2 {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
}

/* line 168, ../sass/partials/_defaults.scss */

h3, legend {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

/* line 173, ../sass/partials/_defaults.scss */

h4 {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

/* line 178, ../sass/partials/_defaults.scss */

h5 {
    color: #888888;
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* line 184, ../sass/partials/_defaults.scss */

h6 {
    color: #afa58f;
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

/* line 190, ../sass/partials/_defaults.scss */

a {
    color: #003e8c;
    font-size: 14px;
}

/* line 195, ../sass/partials/_defaults.scss */

strong { font-weight: 700px; }

/* line 199, ../sass/partials/_defaults.scss */

hr {
    border-bottom: 1px solid #afa58f;
    border-top: none;
    margin: 20px 0;
}

/* line 205, ../sass/partials/_defaults.scss */

blockquote p {
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.25;
}

/* line 210, ../sass/partials/_defaults.scss */

.muted { color: #afa58f; }

/* line 222, ../sass/partials/_defaults.scss */

.alert {
    background-color: #fcf8e3;
    border: 1px solid #e9b422;
    padding-right: 3em;
    position: relative;
}

/* line 229, ../sass/partials/_defaults.scss */

.alert span {
    float: right;
    font-size: 20px;
    position: relative;
    right: -35px;
}

/* line 235, ../sass/partials/_defaults.scss */

.alert-error {
    background-color: #ffebe8;
    border: 1px solid #b4341d;
}

/* line 239, ../sass/partials/_defaults.scss */

.alert-info {
    background-color: #bedeff;
    border: 1px solid #003e8c;
}

/* line 243, ../sass/partials/_defaults.scss */

.alert-warning {
    background-color: #fcf8e3;
    border: 1px solid #e9b422;
}

/* line 247, ../sass/partials/_defaults.scss */

.ya-badge-yellow, .ya-badge-green, .ya-badge-red {
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 250, ../sass/partials/_defaults.scss */

.ya-badge-yellow {
    border-color: #e7a241;
    color: #e7a241;
}

/* line 254, ../sass/partials/_defaults.scss */

.ya-badge-green {
    border-color: #39874c;
    color: #39874c;
}

/* line 258, ../sass/partials/_defaults.scss */

.ya-badge-red {
    border-color: #b4341d;
    color: #b4341d;
}

/* line 265, ../sass/partials/_defaults.scss */

.label {
    background-color: #afa58f;
    border-radius: 20px;
    color: #4e453e;
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
    padding: 3px 10px;
}

/* line 272, ../sass/partials/_defaults.scss */

.ya-light-label { background-color: #f3efeb; }

/* line 281, ../sass/partials/_defaults.scss */

.ya-context-menu {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    margin-bottom: 30px;
}
/* line 291, ../sass/partials/_defaults.scss */

.ya-context-menu ul { padding: 0; }
/* line 294, ../sass/partials/_defaults.scss */

.ya-context-menu li span[data-icon] {
    color: #888888;
    font-size: 20px;
    margin-right: 10px;
    position-top: 32px;
}
/* line 300, ../sass/partials/_defaults.scss */

.ya-context-menu li a {
    border: 1px solid #d6cdbf;
    display: block;
    font-size: 15px;
    margin: 0 0 -1px;
    padding: 6px 14px;
    width: 100%;
}
/* line 309, ../sass/partials/_defaults.scss */

.ya-context-menu li:first-child > a {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
/* line 314, ../sass/partials/_defaults.scss */

.ya-context-menu li:last-child > a {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
/* line 319, ../sass/partials/_defaults.scss */

.ya-context-menu .active > a {
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #faf6f1;
    border: 1px solid #d6cdbf;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
    color: #4e453e;
    padding: 7px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

/* line 350, ../sass/partials/_defaults.scss */

label {
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 361, ../sass/partials/_defaults.scss */

.progress { margin: 10px 0; }

/* line 365, ../sass/partials/_defaults.scss */

.breadcrumb {
    border: 1px solid #d6cdbf;
    border-radius: 6px;
}

/* line 368, ../sass/partials/_defaults.scss */

label.radio {
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 371, ../sass/partials/_defaults.scss */

.btn { margin: 10px auto; }

/* line 377, ../sass/partials/_defaults.scss */

.ya-total { color: #e7a241; }

/* line 381, ../sass/partials/_defaults.scss */

table.table .ya-total {
    color: #e7a241;
    font-size: 16px;
}

/* line 2, ../sass/partials/_login.scss */

.ya-loginbox {
    -moz-border-radius: 6px;
    -moz-box-shadow: 0px 0px 6px 2px rgba(155, 25, 19, 0.65);
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#ff9b1913,Strength=8)";
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(155, 25, 19, 0.65);
    -webkit-box-sizing: border-box;
    *behavior: url(http://positivefutures.com/ya/boxsizing.htc);
    border: 1px solid #b4341d;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 2px rgba(155, 25, 19, 0.65);
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    box-sizing: border-box;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#ff9b1913, Strength=8);
    padding: 20px;
    /* For IE 6 & 7 */
    width: 235px;
}
/* line 16, ../sass/partials/_login.scss */

.ya-loginbox .ya-logo { width: 170px; }
/* line 19, ../sass/partials/_login.scss */

.ya-loginbox .ya-tagline {
    color: #b4341d;
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 67px;
}
/* line 27, ../sass/partials/_login.scss */

.ya-loginbox input[type="text"], .ya-loginbox input[type="password"] { width: 180px; }
/* line 31, ../sass/partials/_login.scss */

.ya-loginbox fieldset { padding-top: 10px; }
/* line 35, ../sass/partials/_login.scss */

.ya-loginbox .alert-error {
    border: 1px solid #b4341d;
    border-left: 0;
    border-right: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px;
}
/* line 44, ../sass/partials/_login.scss */

.ya-loginbox .btn { margin: 10px 0; }

/* line 3, ../sass/partials/_buttons.scss */

.btn {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* line 9, ../sass/partials/_buttons.scss */

.btn-large {
    padding-left: 20px;
    padding-right: 20px;
}

/* line 15, ../sass/partials/_buttons.scss */

.btn span {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    font-size: 16px;
    margin-right: 10px;
    opacity: 0.85;
    position: relative;
    top: 2px;
}

/* line 23, ../sass/partials/_buttons.scss */

.btn-large span {
    display: inline-block;
    font-size: 32px;
    margin-right: 15px;
    margin-top: -20px;
    position: relative;
    top: 8px;
}

/* line 31, ../sass/partials/_buttons.scss */

.ya-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* line 38, ../sass/partials/_buttons.scss */

.btn-warning {
    background-color: #E5A045;
    *background-color: #E5A045;
    background-image: -moz-linear-gradient(top, #ffca00, #e5a045);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffca00), to(#e5a045));
    background-image: -moz-linear-gradient(top, #ffca00, #e5a045);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffca00), to(#e5a045));
    background-image: -webkit-linear-gradient(top, #ffca00, #e5a045);
    background-repeat: repeat-x;
    border-color: #E5A045;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCA00', endColorstr='#E5A045', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCA00', endColorstr='#E5A045', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 58, ../sass/partials/_buttons.scss */

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #E5A045;
    *background-color: #003bb3;
}

/* line 63, ../sass/partials/_buttons.scss */

.btn-danger {
    background-color: #B83512;
    *background-color: #B83512;
    background-image: -moz-linear-gradient(top, #e55842, #b83512);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e55842), to(#b83512));
    background-image: -moz-linear-gradient(top, #e55842, #b83512);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e55842), to(#b83512));
    background-image: -webkit-linear-gradient(top, #e55842, #b83512);
    background-repeat: repeat-x;
    border-color: #B83512;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E55842', endColorstr='#B83512', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E55842', endColorstr='#B83512', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 83, ../sass/partials/_buttons.scss */

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    background-color: #B83512;
    background-color: #B83512;
    color: #FFFFFF;
}

/* line 89, ../sass/partials/_buttons.scss */

.btn-success {
    background-color: #8FB576;
    *background-color: #8FB576;
    background-image: -moz-linear-gradient(top, #a4d584, #8fb576);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4d584), to(#8fb576));
    background-image: -moz-linear-gradient(top, #a4d584, #8fb576);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4d584), to(#8fb576));
    background-image: -webkit-linear-gradient(top, #a4d584, #8fb576);
    background-repeat: repeat-x;
    border-color: #8FB576;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4D584', endColorstr='#8FB576', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4D584', endColorstr='#8FB576', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 109, ../sass/partials/_buttons.scss */

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #8FB576;
    background-color: #8FB576;
    color: #FFFFFF;
}

/* line 6, ../sass/partials/_tables.scss */

.table-striped {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #edecea;
    border-collapse: separate;
    *border-collapse: collapse;
    border-radius: 6px;
}

/* line 15, ../sass/partials/_tables.scss */

td.ya-right-border { border-right: 1px solid #edecea; }

/* line 19, ../sass/partials/_tables.scss */

.ya-striped, .ya-row-striped { background-color: #faf6f1; }

/* line 23, ../sass/partials/_tables.scss */

.ya-row-red { background-color: #ffebe8; }

/* line 26, ../sass/partials/_tables.scss */

.ya-row-yellow { background-color: #fcf8e3; }

/* line 29, ../sass/partials/_tables.scss */

.ya-row-green { background-color: #daf2d7; }

/* line 36, ../sass/partials/_tables.scss */

.ya-label {
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* line 40, ../sass/partials/_tables.scss */

td.ya-label {
    padding-right: 10px;
    vertical-align: top;
}

/* line 45, ../sass/partials/_tables.scss */

.ya-value {
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* line 50, ../sass/partials/_tables.scss */

.ya-total {
    color: #e7a241;
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

/* line 36, ../sass/screen.scss */

.ya-widget {
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    *behavior: url(http://positivefutures.com/ya/boxsizing.htc);
    /* Opera/IE 8+ */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    box-sizing: border-box;
    /* For IE 6 & 7 */
    margin-bottom: 30px;
    padding-top: 0;
}
/* line 41, ../sass/screen.scss */

.ya-widget h3 {
    border-bottom: 1px solid #d6cdbf;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

/* line 48, ../sass/screen.scss */

.ya-edit-box {
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.27);
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#45000000,Positive=true)";
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.27);
    -webkit-box-sizing: border-box;
    /* For IE 6 & 7 */
    background-color: #fcf8e3;
    *behavior: url(http://positivefutures.com/ya/boxsizing.htc);
    border: 1px solid #d6cdbf;
    border-radius: 6px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.27);
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    box-sizing: border-box;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color=#45000000, Positive=true);
    margin-bottom: 20px;
    padding: 20px;
}
/* line 57, ../sass/screen.scss */

.ya-edit-box h3 { margin-top: 0; }
/* line 61, ../sass/screen.scss */

.ya-edit-box label {
    margin-bottom: 2px;
    padding-left: 4px;
}
/* line 66, ../sass/screen.scss */

.ya-edit-box label.radio { font-size: 12px; }
/* line 68, ../sass/screen.scss */

.ya-edit-box label.radio input[type="radio"] { margin: 2px 5px 0 0; }
/* line 74, ../sass/screen.scss */

.ya-edit-box label.checkbox input[type="checkbox"] { margin: 3px 7px 0 0; }
/* line 78, ../sass/screen.scss */

.ya-edit-box .row-fluid { margin-bottom: 10px; }
/* line 81, ../sass/screen.scss */

.ya-edit-box input, .ya-edit-box select { margin-bottom: 0; }
/* line 84, ../sass/screen.scss */

.ya-edit-box .btn {
    margin-bottom: 0;
    margin-top: 20px;
}

/* line 91, ../sass/screen.scss */

.ya-edit-button {
    background-color: #e9b422;
    border: 1px solid white;
    border-radius: 3px;
    bottom: 0;
    color: white;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}
/* line 103, ../sass/screen.scss */

.ya-edit-button span[data-icon] { margin: 0; }
/* line 106, ../sass/screen.scss */

.ya-edit-button:hover, .ya-edit-button:focus {
    background-color: #f2d37f;
    color: white;
}
/* line 110, ../sass/screen.scss */

.ya-edit-button:active {
    border-color: #e7a241;
    color: #e7a241;
}

/* line 117, ../sass/screen.scss */

.ya-subtitle {
    font-family: ProximaNova-RegularIt, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 121, ../sass/screen.scss */

.ya-editable-region {
    border: 1px dotted #edecea;
    border-radius: 6px;
    position: relative;
}
/* line 125, ../sass/screen.scss */

.ya-editable-region:hover {
    -moz-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    background-color: #e6e6e6;
    border: 1px solid #c2b4a0;
    transition: background-color 200ms linear;
}

/* line 138, ../sass/screen.scss */

.ya-control-box {
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* For IE 6 & 7 */
    background-color: #fbfbfb;
    *behavior: url(http://positivefutures.com/ya/boxsizing.htc);
    border: 1px solid #c2b4a0;
    border-radius: 6px;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    box-sizing: border-box;
    padding: 18px 18px;
}
/* line 145, ../sass/screen.scss */

.ya-control-box h4 { margin-top: 5px; }
/* line 148, ../sass/screen.scss */

.ya-control-box h3 { border: none; }

/* line 155, ../sass/screen.scss */

.ya-help { color: #e7a241; }

/* line 158, ../sass/screen.scss */

sup a.ya-help { font-size: .6em; }

/* line 164, ../sass/screen.scss */

.ya-link {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 168, ../sass/screen.scss */

.ya-action {
    color: #b4341d;
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 175, ../sass/screen.scss */

.ya-tagline {
    color: #b4341d;
    font-size: 28px;
}

/* line 183, ../sass/screen.scss */

span[data-icon] { margin-right: .4em; }

/* line 188, ../sass/screen.scss */

span[data-icon="E"], span[data-icon="C"] { font-size: 120%; }

/* line 193, ../sass/screen.scss */

.ya-twitter { color: #00AEF3; }

/* line 196, ../sass/screen.scss */

.ya-facebook { color: #24589E; }

/* line 199, ../sass/screen.scss */

.ya-pinterest { color: #CF1912; }

/* line 208, ../sass/screen.scss */

.ya-small-profile .ya-edit-button, .ya-profile .ya-edit-button {
    bottom: 5px;
    right: 5px;
}

/* line 213, ../sass/screen.scss */

.ya-teaching-hours {
    background-color: #c2b4a0;
    border: 1px solid #4e453e;
    padding: 20px;
    text-align: center;
}

/* line 221, ../sass/screen.scss */

.ya-yoga-types li {
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* line 229, ../sass/screen.scss */

.ya-profile address { margin: 0; }
/* line 232, ../sass/screen.scss */

.ya-profile .ya-social-media-icons span {
    font-size: 30px;
    margin-right: 10px;
}
/* line 236, ../sass/screen.scss */

.ya-profile p { margin-top: 15px; }

/* line 242, ../sass/screen.scss */

.ya-training-experience h4 { margin: 4px 0 0 0; }

/* line 247, ../sass/screen.scss */

.ya-awards ul {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
}
/* line 251, ../sass/screen.scss */

.ya-awards ul li {
    margin: 0 0 10px 0;
    padding: 0;
}
/* line 256, ../sass/screen.scss */

.ya-awards a.ya-link span[data-icon] {
    color: #888888;
    float: left;
    font-size: 32px;
    padding-bottom: 4px;
}
/* line 262, ../sass/screen.scss */

.ya-awards p { clear: both; }

/* line 268, ../sass/screen.scss */

.ya-i-teach label.checkbox { margin: 6px 0 6px 6px; }

/* line 276, ../sass/screen.scss */

.container-fluid {
    background-color: white;
    border: 1px solid #4e453e;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 1170px;
}

/* line 286, ../sass/screen.scss */

span[data-icon] { margin-right: .4em; }

/* line 290, ../sass/screen.scss */

.ya-section { margin-bottom: 30px; }
/* line 293, ../sass/screen.scss */

.ya-section h2 {
    border-bottom: 1px solid #d6cdbf;
    margin-bottom: 20px;
}

/* line 300, ../sass/screen.scss */

.ya-designation-icon {
    color: #6B6B6B;
    font-size: 150px;
    text-align: center;
}

/* line 309, ../sass/screen.scss */

.ya-application-details h2 { border-bottom: none; }

/* line 314, ../sass/screen.scss */

.ya-school-track-info {
    border: 1px solid #d6cdbf;
    border-radius: 6px;
    padding: 10px 20px;
}

/* line 321, ../sass/screen.scss */

.ya-abbreviation-key dd {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 324, ../sass/screen.scss */

.ya-review-queue-notes { background-color: #fbfbfb; }

/* line 327, ../sass/screen.scss */

.ya-review-queue-notes img { border-radius: 6px; }

/* line 330, ../sass/screen.scss */

.ya-review-queue-notes label {
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

/* line 334, ../sass/screen.scss */

.ya-review-queue-notes input[type='checkbox'] {
    height: 16px;
    width: 16px;
}

/* line 338, ../sass/screen.scss */

.ya-client-note {
    border: 2px solid #4e453e;
    border-radius: 6px;
}

/* line 342, ../sass/screen.scss */

.ya-staff-note, .ya-internal-note, .ya-client-note {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 345, ../sass/screen.scss */

.ya-signature h5 {
    font-family: ProximaNova-Semibold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 348, ../sass/screen.scss */

.ya-signature p {
    color: #afa58f;
    font-family: ProximaNova-Regular, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}

/* line 353, ../sass/screen.scss */

.ya-internal-note { background-color: #fcf8e3; }
/* line 355, ../sass/screen.scss */

.ya-internal-note h4 {
    font-family: ProximaNova-Bold, arial, sans-sarif;
    font-style: normal;
    font-weight: normal;
}


#tableContainer { width: 100% }