@import "../variables/variables";
@import "../variables/mixins";
.page-header{
	padding-bottom:0;
	margin:0 0 15px;
	border-bottom:1px solid $gray;
	.pull-down{
		margin-top:22px;
		display:inline-block;
	}
}
