/* ####################################################
SCSS file for Staff Find Accounts
###################################################
*/

// @import "vendor/responsive";

// REPLACE THIS WHEN THIS PAGE GETS ADDED TO REAL PAGE
// .main-box {
//   padding:40px 30px;
// }

.ya-staff-find-accounts{
	
	// TODO: DELETE THIS WHEN YOU HAVE A STANDARD WAY OF HANDLING THIS SITEWIDE
	//  
	.btn-large {
		span[data-icon] {
			font-size: 24px;
			top: 2px;
		}	
	}
	// TODO: - THERE MUST BE A BETTER WAY OF GETTING THESE CONTROLS TO FIT WITHIN THEIR SPAN
	input[type="text"]{
		width: 92%;
	}
	select {
		width: 100%;
	}

	.nav-tabs {
		margin: 30px 0;

		li{
			width: 25%;
			text-align: center;
			a {  
				font-size: 20px;
			}
		}
	}
	// Getting the buttons to line up with the top of the text boxes
	.ya-button-column {
		padding-top:15px;
		// Adding a bit of space between the 2 buttons
		button{
			margin-bottom:20px;
		}
	}
	.nav-list a{
		margin-bottom:0;
	}
	.btn-navbar{
		padding:6px 10px;
		margin:10px;
	}
	.btn-navbar .icon-bar {
		background-color: #F5F5F5;
		margin-right:0;
		position:static;
		border-radius: 1px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		display: block;
		height: 2px;
		width: 18px;
	}

}
input[type="radio"],
input[type="checkbox"]{
	margin:0 5px 0 0;
}
.btn{
	min-width:inherit;
}
@media (max-width:767px){
	.ya-staff-find-accounts .nav-tabs li{
		float:none;
		width:auto;
		margin:0;
	}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	nav-tabs > .active > a:focus{
		border:1px solid #ddd;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
	}
	.ya-staff-find-accounts input[type="text"]{
		width:100%;
		height:auto;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
}
.navbar{
	.nav{
		float:none;
		li{
			float:none;
		}
	}
}