@import "../variables/variables";
@import "../variables/mixins";
.container {
	.main-box {
		.main-content {
			margin-left:0;
			margin-right:0;
		}
	}
}
.btn-large {
	span {
		margin-top: 0;
	}
}

// these styles add for paypal button
.ya-payment-processing {
	.paypal {
		padding: 12px 24px;
		font-size: 18px;
	}
}

.btn-success{
	color: white !important;
	font-weight:bold;
}
.billingForm{
	span{
		display:inline-block;
		vertical-align:top;
	}
}
.billingForm .dnnControlMessage,
.dnnControlMessage{
	display:block;
	padding:5px 0;
	color: #B94A48;
}
.billingForm{
	.fl-desktop{
		margin-right:4px;
	}
}
// these style add for order of input fields
.fl-desktop{
	float:left;
	@include for-screen(tablet-screen){
		float:none;
	}
	@include for-screen(mobile-screen){
		float:none;
	}
}
.fr-desktop{
	float:right;
	@include for-screen(tablet-screen){
		float:none;
	}
	@include for-screen(mobile-screen){
		float:none;
	}
}
.receipt-sidebar-box{
	margin-top:120px;
}

// Add Styles For Main Content Margin Left;
.ya-payment-processing{
	.sidebar-content{
		  margin-left: $fluidGridGutterWidth !important;
	      *margin-left: $fluidGridGutterWidth - (.5 / $gridRowWidth * 100px * 1%);
	}
	.main-content{
		margin-left:0 !important;
	}
}


@media (max-width: 979px) {
.input-large{
	min-width:inherit;
	width:auto;
	font-size:14px;
	padding:9px 15px;
	span{
		font-size:24px;
	}
}
.paymentReceiptTotal{
	h1{
		font-size:20px;
	}
}
.dnnFormMessage{
	margin:15px 10px 0;
}
}
@media (max-width: 767px) {
.receipt-sidebar-box {
  margin-top: 0;
}	
}