@import "variables/variables";
@import "variables/mixins";

.btn{
	min-width:150px;
}
.ya-program-found-block{
	.ya-main-row{
		.ya-column-1{
			margin-bottom:15px;
		}
	}
	
}
.rlbList{
	.rlbCheck{
		margin:0 5px 0 0;
	}
}
.ya-button-row{
	text-align:center;
}