/* ####################################################
NOTE
scss file for review
###################################################
*/
@import "../variables/variables";
@import "../variables/mixins";
$margin_padding: 15px;
$icon_font_size: 30px;
.ya-review-section {
	margin-top: $margin_padding * 2;
	.ya-review-list {
		margin: 0;
		list-style:none outside none;
		.ya-review-item {
			border-top: 1px solid #999;
			display: inline-block;
			width: 100%;
			margin-bottom: $margin_padding;
					
			.ya-review-item-subject {
				width: 100%;
				display: inline-block;
				background-color: #eee;
				h2 {
					@media (max-width: 460px) {
						font-size: 25px;
					}		
				}
				h3 {
					@media (max-width: 460px) {
						font-size: 16px;
					}		
				}
				> * {
					padding-left:8px;
				}		
			}
			.ya-review-item-settings {
				margin: $margin_padding 0 $margin_padding 5%;
				.ya-review-item-settings-options {
					@include makeFluidRow();
					margin-bottom: $margin_padding;
					.ya-option-items,
					.ya-option-visible,
					.ya-option-hidden {
						@include makeFluidColumn(4);
					}			
				}	
			}
			.ya-review-number {
				float: left;
			    font-size: 19px;
			    font-weight: bold;
			    width: 5%;
				margin-top: 12px;
					@media (max-width: 767px) { // I changes resolution becase we required same styles for 480px resolution.
						font-size: 16px;
						margin-top: 9px;
						width:40px;// on mobile screen this overlapping
					}		
			}				
		}
	}
	
}
.ya-reivew-setting-btn-list {
	margin-left:5%; // lineup with top content.
	@include clearfix(); // added clearfix because its child floats.
	list-style: none outside none;
	li {
		float: left;
		margin: 0 13px 0 0; // need margin right only.
	}	
}	

input[type="radio"] {
	margin: 4px 5px 0; //added margin top 4px;
	-webkit-appearance: radio;
	@include box-sizing(border-box); // use mixins
	vertical-align:top;
}
	
