$margin_padding: 15px;
@import "../variables/variables";
@import "../variables/mixins";

$maroon: #96171a;
$blue:#3b237b;
$blue2:#1e398d;
$grey:#5f6a72;
$white:#ffffff;
$black:#000000;
$grey2:#b4b3af;

$linkColor:	#96171A;


$gridFluidColumnWidth: 6.38298%;
$gridFluidGutterWidth: 2.12766%;

@mixin makeFluidRow() {
  width: 100%;
  @include clearfix();
}
@mixin makeFluidColumn($columns: 1, $offset: 0, $marginRate: 1) {
  float: left;
  margin-left: (($gridFluidColumnWidth * $offset) + ($gridFluidGutterWidth * ($offset - 1)) + ($gridFluidGutterWidth * 2)) * $marginRate;
  width: ($gridFluidColumnWidth * $columns) + ($gridFluidGutterWidth * ($columns - 1));
  
  &:first-child {
        margin-left: 0;
  }
}
/**Global Mixin**/


@mixin box-shadow($shadow){
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin text-shadow($shadow){
	-moz-text-shadow: $shadow;
	-webkit-text-shadow: $shadow;
	-o-text-shadow: $shadow;
	text-shadow: $shadow;
}

@mixin ya-grey-border-bottom {
		padding-bottom: 10px;
		margin: $margin_padding 0;
		border-bottom: 2px solid #ccc;
	  }
	  @mixin ya-black-border-bottom {
		@include ya-grey-border-bottom;
		border-bottom: 2px solid #333;
	  }
	  /** Global Fonts **/
$Normal: 'ProximaNova-Regular';
$Semibold: 'ProximaNova-Semibold';
$Bold: 'ProximaNova-Bold';
$Italic: 'ProximaNova-RegularIt'; 

.ya-school-public-profile{

	
	.ya-middle-column{
		.ya-column-center{
			/****Review Page Styles Start Block**/
			.ya-reviews-page{
				.ya-search-icon{margin:0 5px 0 0;}
				.ya-header-row{@include ya-black-border-bottom(); @include makeFluidRow(); padding-bottom:0px;
					.ya-page-title{float:left; border:0; margin:0;}
					.ya-button{
						float:right;
						.btn{
							margin:10px 0 0 0;
							padding-bottom:5px;
							color:$linkColor;
							text-decoration:none;
						}
					
					}
					.ya-link {
						color: $linkColor;
						font-family: $Bold;
						padding: 0;
					}
				}
				/**below is common style*/
				input.span12{
					*width:95% !important;
					*min-height:20px !important;
					*height: 20px !important;
				}/*end of common style*/
				.ya-filter-search-reviews{
					.RadComboBox{
						width:100% !important;
					}
					.ya-date-box{
						@media(max-width:767px){width:50% !important; float:left;}
							.RadPicker{width:100% !important;
								table.rcTable{width:100% !important;}
							}
						
					}
					.riSingle .riTextBox, .RadForm.rfdTextbox .riSingle input.rfdDecorated[type="text"] {
						height: 30px;
					}
					.ya-empty-box{
						@media(max-width:767px){display:none;}
					}
					.input-append{
						.ya-TxtSearchPhone{ width: 100%;padding-right: 55px;}
						.btn{position: relative;    z-index: 100;margin: 0 0 0 -53px;}
					}
					.ya-search-button{
						.btn {
							margin-top:0;
	
						}
					}
					
				}
				.ya-page-title{color:#5F6A72; padding:0; margin:0; font-family:$Semibold;}	
				.ya-review-block{
					list-style-type:none;margin:0;
					.ya-first-item{border:0px;}
					li{margin:0 0 15px;border-top: 1px solid #999999;
						display: block;}
					.ya-review-row{
						margin-top:15px;
						.ya-profile-photo{width:75px;float:left;margin-bottom: 20px;}
						.ya-details-box{margin-left:85px;
							.ya-review-feedback-info{
								.ya-value{margin:0 0 0 5px;}	
								// Add Styles for Stars
								.RadRating{
									height:auto !important;
									.rrtItem{
										li{
											width:auto;
											border:none;
											margin:0;
										}
									}
								}
							}
						}
					}
				}
				.ya-row{width:100%; float:left;}
				.ya-panel{@include makeFluidRow(); float:left;
					.ya-read-more-less{display:block; background:none;}
				}
				.ya-pagination{ float:left;
						li{  border: 0 none;    display: inline;    margin: 0;    width: auto;}
						.pagination{margin-top:0;}
						
							/***pager control - styles**/

							.RadDataPager {
								display: inline-block;
								width: auto;
								 .rdpNumPart {
										padding:0 1px;
									span{
										padding: 0 0 0 10px;}
									a{
										margin: 0 1px;
										padding: 0 10px 0 0;
									}
								}
							}
				}
				.ya-details{
					width:100%; float:left;margin-top:5px; display:inline-block;
										
				}
				.ya-read-more-less{color:$maroon; font-family:$Semibold; float:left; display:inline-block; margin:0px; text-decoration:none;
				  .ya-label{float:left;padding: 2px 0 0 0;}
				  .ya-show-link-icon{float:left;margin:0;font-size: 20px;}
				}

				$icon_font_size: 30px;
				.ya-arrow-icon {
					font-size: $icon_font_size !important;
					position: relative;
					top: 8px;					
					cursor: pointer;
				}

				p{color:#000000;}
				
				.ya-reviews { 
					padding: $margin_padding * 2;
					@media (max-width: 767px) {
						padding: $margin_padding * 2 $margin_padding;
					}
				}			
				.ya-review-section {
					
					.ya-review-list {
						margin: 0;
						list-style:none outside none;
						.ya-last-review-item{margin-bottom:0 !important;}
						.ya-review-item {
							border-top: 1px solid #999;
							display: inline-block !important;
							width: 100%;
							margin-bottom: $margin_padding;
							.ya-general-comments{padding:10px 0 0 0;}
							.ya-review-item-container {
								float:left;
								width:90%;
								margin-top: $margin_padding;
								.ya-review-number {
									width:7%;
									float:left;
									font-size:16px;
									font-weight:bold;
									@media (max-width: 460px) {
										font-size: 14px;
										width:10%;
									}
								}
								.ya-review-item-content {
									width:93%;
									float:left;
									p {
										margin-bottom: 0;
									}
									h4 {
										margin: 0;
										@media (max-width: 460px) {
											font-size: 15px;
										}
									}	
									.ya-review-item-txt {
										margin: $margin_padding 0;
										display: none;
									}
									@media (max-width: 460px) {
										width:90%;
									}		
								}
								@media (max-width: 460px) {
									width:86%;
								}		
							}
							.ya-review-sub-list {
								list-style:none outside none;
								margin: 0;
								.ya-review-item {
									border:none;
								}	
							}	
							.ya-review-item-subject {
								width: 100%;
								display: inline-block;
								background-color: #eee;
								h2 {
									@media (max-width: 460px) {
										font-size: 25px;
									}		
								}
								> * {
									padding-left:8px;
								}		
							}		
						}
					}	
				}
			}
			/***Review Page Styles End Block***/
		}
	}


}

/* end school profile*/

/*******media queries******/
 
@media (min-width: 980px) and (max-width: 1199px) { 
	body{}
	.ya-school-public-profile{
		.ya-right-column {
			.ya-school-reviews{margin-top:0;}
		}
	}

} 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	/*body{background:green;}*/
	.ya-school-public-profile{
		.ya-right-column {
			.ya-school-reviews{margin-top:0;}
		}
	}

}

