// @import "school-registration-3";

@import "../variables/variables";
@import "../variables/mixins";


$desktop: 1200px;
$tablet	:	979px;
$mobile	:	767px;

@mixin for-screen ($media){
	@if $media == desktop {
    	@media (max-width: $desktop) { @content; }
  }
 @else if $media == tablet {
	@media (max-width: $tablet) { @content; }
  }	
 @else if $media == mobile {
	@media (max-width: $mobile) { @content; }
  } 
  @else{
	@content;
  }	
 
}
.ya-school-registration-step4 {

	.ya-trainers-row .ya-name {
		font-size: 20px;
		font-family: ProximaNova-Bold;
	}
	.ya-trainers-row .ya-tick {
		color: #39874C;
	}
	.ya-trainers-row .btn-link {
		color: #A2010B;
	}
	.ya-new-session-total-hours {
		font-size: 16px;
		font-family: ProximaNova-Bold;
	}


	.accordion-inner{
		border:none;
		padding:0;
		padding-top:20px;
	}
	.accordion-group {
		border:none;
	}
	.accordion-heading a.collapsed {
		background-color: white;
		background:none;
	}
	// .accordion-header {
	// 	border: 1px solid #B63313;
	// }
	// .ya-toggle-title-bar {
	// 	background-color:white;
	// }


	hr {
		border-bottom: 1px solid $gray;
	}		



.ya-school-registration-block {
	@include makeFluidRow();
}

@mixin ya-control-group {
    margin-bottom: $margin_padding / 2;
}
@mixin ya-checkbox-group {
  @include clearfix();
  margin: $margin_padding / 2 0;
}
@mixin ya-checkbox-group {
  
}
@mixin ya-checkbox-control {
	float: left;
	margin-right: 10px;
}
@mixin ya-align-middle {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}
@mixin ya-collapse-icon {
	float: right;
	cursor: pointer;
	color: #A40000;
}
@mixin ya-collapse-title {
	float: left;
	color:#A40000;
	font-family: ProximaNova-SemiBold;
}
@mixin yellow-panel {
  background-color: #fff9e6;  
  border: 2px solid #999999;   
  @include border-radius($radiusLarge);
  padding: $margin_padding;
  margin: $margin_padding * 2 0;
}
@mixin radio-button-style {
	float: left;
	margin-right: 6px; 
}	

.ya-italic {
	@include font-italic;
}
span[data-icon] {
  font-size: 20px;
}

.ya-track-details {
	@include makeFluidRow();
	img {
		float: left;
		margin-right: 10px;
	}
	.ya-track-details-container {
		@include ya-align-middle;
	}
}




.ya-rys-edit-track {
	margin-top: $margin_padding * 2;
}

.ya-edit-track {
	@include yellow-panel;

	.ya-edit-track-container {
		@include makeFluidRow();
	}
	.ya-edit-track-controls{
		@include makeFluidColumn(7);
		@include for-screen (mobile){@include makeFluidColumn(12)};
		.ya-select-designation {
			@include makeFluidColumn(4);
			@include for-screen (tablet){@include makeFluidColumn(6)};
			@include for-screen (mobile){@include makeFluidColumn(12)};
		}
		.ya-track-name {
			@include makeFluidColumn(7.5, 0.5);
			@include for-screen (tablet){ @include makeFluidColumn(6)};
			@include for-screen (mobile){ @include makeFluidColumn(12); margin-left: 0;};
			input {
				width:100%;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				height: auto;
				*width: 95%;
			}	
		}

	}
	.ya-yoga-type-list {
		@include makeFluidColumn(5);
		@include for-screen (tablet){ @include makeFluidColumn(4);}
		@include for-screen (mobile){ @include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;};
		
		input[type='checkbox'] {
			@include ya-checkbox-control;
		}
		ul {
			list-style: none outside none;
			margin: 5px 0 0 0;
		}
	}
}
#ie7 .ya-yoga-type-list{
		width: 39%;
}

$bs: 0 0 5px #000;
.ya-school-registration-btn-group {
	@include makeFluidRow();
	margin: $margin_padding 0;
	button {
		margin:$margin_padding/3 0 ;
		@include box-sizing($bs);
		@include for-screen (mobile){ 
			width:170px; 
			margin-left: auto; 
			margin-right: auto; 
			margin-bottom: 10px !important; 
			display:block !important; 
			float:none !important;};
		
	}
}
#ie7 .ya-school-registration-btn-group .btn{
	width:auto !important;
	margin:10px 5px;
	
}
span[data-icon].ya-collapse-icon  {
	@include ya-collapse-icon;
	font-size: 50px;
	margin: -12px 0 !important;
}
.ya-collapse-title {
	@include ya-collapse-title;
	text-decoration: none;
	font-size: 21px;
}





.ya-toggle-title-bar {
	@include clearfix();
	background-color: white;
	border: 1px solid #B63313;
	*border: 1px solid #B63313;
}
#ie7{
	.accordion-toggle{
		&:hover{
			text-decoration:none !important;
		}
		&:focus{
			text-decoration:none !important;
		}
	}
}
.ya-new-session-container {
	@include yellow-panel;

	.ya-new-session-items {
		@include makeFluidRow();
		margin: $margin_padding * 2 0;
		input {
			width:100%;
			*width : 95%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			height:auto;
		}
		textarea {
			width:100%;
			*width : 95%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			height:auto;
			height: 100px;
			display:block;
		}
		.ya-new-session-category {
			@include makeFluidColumn(2.6);	
			@include for-screen (mobile){ @include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;};
		}
		.ya-new-session-contact-hours {
			@include makeFluidColumn(2);
			@include for-screen (mobile){ @include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;};
		}
		.ya-new-session-taught-by {
			@include makeFluidColumn(3.8);
			@include for-screen (mobile){ 
				@include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;
				label{
					float:none;
				}
			};
			.ya-taughts-select {
				float: left;
				width: 65%;
				margin-left: 7%;
				@include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;
				select {
					margin-left: $margin_padding;
					@include for-screen (mobile){ @include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;};
					
				}
				input[type='radio'] {
					width: auto;
				}
				
			}
			
		}
		.ya-new-session-eryt {
			@include makeFluidColumn(2);	
			margin-top: -20px;
			@include for-screen (mobile){ @include makeFluidColumn(12); margin-left: 0; margin-bottom: 15px !important;};
		}
		.ya-new-session-total-hours {
			@include makeFluidColumn(1.6);
			margin-top: 29px;
			text-align: center;
			@include for-screen (mobile){ @include makeFluidColumn(12); margin: 0; text-align:left; margin-bottom: 15px !important;};
		}
	}	
}

select {
  color: black;
  width: 100%;
  option { 
    color: black; 
  }
}
select.ya-empty { 
  color: $gray; 
}

.ya-learning-objective-list {
	@include makeFluidRow();
	.ya-learning-objective-item {
		textarea {
			width: 96%;
			height: 100px;
		}
	}
}
.ya-survey-question-list {
	@extend .ya-learning-objective-list;
	.ya-survey-question-item { 
		@extend .ya-learning-objective-item;
	}	
}
.ya-submit-track-container {
	margin-left: $margin_padding * 2;
	@include for-screen (mobile){margin : 0;};
}
.ya-control-group {
	@include ya-control-group;
}
.ya-required-mark {
    color: $red;
    font-size: 18px;
    margin-left: 2px;
}
input[type='radio'] {
	float: left;
	margin-right: 6px;
}
.ya-track-btns{
	.span3{
	.btn{
		margin:0 auto 5px;
		@include for-screen(tablet){
			min-width:inherit !important;
			width: 100% !important;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
			span{
				display:none;
			}
		}
		@include for-screen(mobile){
			text-align:center;
			float:none;
			margin-bottom:10px;
			-moz-box-sizing:border-box;			
			-webkit-box-sizing:border-box;			
			box-sizing:border-box;			
			min-width:150px !important;
			width: auto !important;
			@include font-bold;
		}
	}
	}
}
.ya-track-btns{
	.span3{
		.btn{
			display: inline-block;
			margin:0 auto 5px;
			@include for-screen (tablet){width: auto;};
			@include for-screen (mobile){width: auto;};
			span{
				@include for-screen (tablet){display: none};
				@include for-screen (mobile){display: none};
			}
		}
	}
}
.ya-button-row .btn{
	width:150px;
	margin:10px 5px;
	@include for-screen (mobile){ margin:10px 0 !important;
	};
}
@include for-screen (mobile){
body{
	margin:0 !important; padding:0 !important;
}
.ya-track-details{
	.ya-track-details-container{ 
		width: 100% !important;
		display:block !important;
		height: auto !important;
	> img{
		float:none !important;
		display:block !important;
		margin:0 auto;
		height: auto !important;
	}
	}
	.pull-left{
		float:none !important;
	}
}

}
.live-desc{
	font-style:italic;
}
.btn-link{
    color: $red;
    font-size: 13px;
    padding: 0;
}
.ya-trainers-row{
    border-bottom: 2px solid #CCCCCC;
    margin: 15px 0;
    padding-bottom: 10px;
}
.ya-seperator {
    border-left: 1px solid #888888;
    margin: 0 2px 0 0;
}
.ya-name {
    @include font-bold;
    font-size: 18px;
}
.ya-tick {
    color: $greenDark;
    font-size: 13px;
    margin: 0 3px;
}
.ya-controls{
	text-align:right;
	@include for-screen(mobile){
		text-align:left;
	}
}
.ya-date {
    @include font-bold;
    margin: 0 0 0 20px;
	display:inline-block;
		@include for-screen(mobile){
		 float: right;
	}

}
}