/* ####################################################
NOTE
scss file for review
###################################################
*/
@import "../variables/variables";
@import "../variables/mixins";

// veriables always call on the top
$margin_padding: 15px;
$icon_font_size: 30px;

// here delete '@import "bootsrap-responsive";' and its @mixin clearfix(); manually.
@mixin clearfix {
  *zoom: 1;
	&:before, &:after {
	  display: table;
	  content: "";
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}
}

$gridFluidColumnWidth: 6.38298%;
$gridFluidGutterWidth: 2.12766%;

@mixin makeFluidRow() {
  width: 100%;
  @include clearfix();
}
@mixin makeFluidColumn($columns: 1, $offset: 0, $marginRate: 1) {
  float: left;
  margin-left: (($gridFluidColumnWidth * $offset) + ($gridFluidGutterWidth * ($offset - 1)) + ($gridFluidGutterWidth * 2)) * $marginRate;
  width: ($gridFluidColumnWidth * $columns) + ($gridFluidGutterWidth * ($columns - 1));
  
  &:first-child {
        margin-left: 0;
  }
}
// here need to clearfix because its direct childs were float.

.main-content{
	@include clearfix();
}


// here not need margin top of pagination.
.ya-main-section{
	padding: 15px 25px 0 0;
	@include for-screen(mobile-screen) {
		padding:0 15px 15px;
	}

	> .ya-pagination:first-child{
		margin-top:0;
	}
}

// here not need of h2 empty because it creates extra gap.
.DnnModule-SchoolReview_Details .DNNContainer_Title_h2.SpacingBottom{
	> h2:first-child{
		display:none;
	}
}

.ya-article {
    @include makeFluidRow();
	
	// Delete ya-mail-section width. we don't required here.
	// Extra Css Deleted left sider and right sidebar;
}


.ya-reviews {
    padding: $margin_padding * 2;
	@media (max-width: 767px) {
		padding: $margin_padding * 2 $margin_padding;
	}

}
.pagination ul > li{
	> a, > span{
		border-width:1px !important;
	}
}
.ya-review-section {
	margin-top: $margin_padding * 2;
	.ya-review-list{
		margin: 0;
		list-style:none;
		.ya-review-item {
			border-top: 1px solid #999;
			margin-bottom: $margin_padding;
			position:relative;
			// div is a block level tag and inline-block property for block level tag doesn't support in ie7 and earlier, 
			//	I delete these, and by default width has 100%, so i also delete it.
			.ya-review-item-container {
				& + .pull-right{
					position:absolute;
					top:0;
					right:0;
				}
				margin-top: $margin_padding;
				@include clearfix();
				.ya-review-number {
					width:7%;
					float:left;
					font-size:16px;
					font-weight:bold;
					@media (max-width: 460px) {
						font-size: 14px;
						width:10%;
					}
				}
				.ya-review-item-content {
					width:93%;
					float:left;
					p {
						margin-bottom: 0;
					}
					h4 {
						margin: 0;
						@media (max-width: 460px) {
							font-size: 15px;
						}
					}	
					.ya-review-item-txt {
						margin: $margin_padding 0;
						display: none;
					}
					@media (max-width: 460px) {
						width:90%;
					}		
				}
				@media (max-width: 460px) {
					width:86%;
				}		
			}
			.ya-review-sub-list {
				list-style:none;
				margin: 0;
				.ya-review-item {
					border:none;
				}	
			}	
			.ya-review-item-subject {
				background-color: #eee;
				// add margin-bottom for nice gap under the section headers.
				margin-bottom:15px;
				padding-bottom:5px;
				// delete float: left; and specifix width;
				@include clearfix();
				h2 {
					@media (max-width: 460px) {
						font-size: 25px;
					}		
				}
				> * {
					padding-left:8px;
				}		
			}		
		}
	}	
}	

.ya-pagination {
	ul {
		width: 100%;
		// here is not use a @mixin. please use mixin here. otherwise why we use sass language.
		-webkit-box-shadow: none;
    	-moz-box-shadow: none;
        box-shadow: none;
		li {
			a {
				// here need to increase width of pagination links because to cover the extra gap.
				width: 33.33%;
				text-align: center;
				// here add '!important' because screen.css override this styles.
				padding: 0 0 12px !important;
				margin-left:-1px;
				&:hover{
					text-decoration:none;
					color:#005580;
				}
				.ya-pagination-label {
					display: inline-block;
	    			margin-top: 14px;
				}	
			}
		}
	}		
}
.ya-arrow-icon {
	font-size: $icon_font_size !important;
	position: relative;
	top:7px;
	margin: 0 5px !important;
	cursor: pointer;
}
.ya-arrow-icon:hover{
	position:relative;
}

// these style neet to add for global sidebar menu.

#btnAddHours,
.sidenavbutton{
  display: block;
  line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius($baseBorderRadius);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
  padding: $paddingLarge;
  margin:10px;
  font-size: $fontSizeLarge !important;
  @include border-radius($borderRadiusLarge);
// on hover state
  &:hover,
  &:focus {
    color: $grayDark;
    text-decoration: none;
    background-position: 0 -15px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }
  @include for-screen(tablet-screen) {padding:10px;}
  
}
.sidenavbox{
	@include for-screen(tablet-screen) {
		padding: 0 15px;
		.ya-context-menu{
			@include box-shadow(none !important);
			.navbar-inner{
				@include box-shadow(none !important);
			}
		}
		}
	.navbar{
		margin-left:11px;
		margin-bottom:0;
		@include for-screen(tablet-screen) {
			margin-left:0;
		}
		.nav{
			margin:0;
			padding:0 !important;
			float:none;
			li{
				span[data-icon]{
					color: inherit;
				}
				float:none;
				&,&.active{
					a{
						white-space:nowrap;
						overflow:hidden;
						text-overflow: ellipsis;
						font-weight: normal !important;
						&:hover{
							background-color: #111111;
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
}

.navbar .btn-navbar{
	@include for-screen(tablet-screen) {
		display:inline-block;
		min-width:inherit;
		span{
			margin-right:0;
			top:0;
		}
	}
}
.RadRating{
	ul{
		padding-top:0 !important;
	}
}
@media (max-width: 767px) {
.ya-main-section{
	padding:15px;
}
}
// end here

