// @import "school-registration-2";

@import "../variables/variables";
@import "../variables/mixins";



.school-registration-3{
  h3{border:0 none !important;}
  .btn-link{color:$red; font-size:16px; padding:0; @include font-bold;}
  .ya-tick{color:$green; font-size:13px; margin:0 3px;}
  .ya-tick.icon-120px {color:#92BB74; padding-right: 30px; padding-left:30px;}
  p.ya-instructions {font-size: 18px;padding-right:30px;}
  .ya-label {@include font-bold;}
.ya-value {@include font-regular}
.ya-page-title{ padding-bottom: 10px;          margin: $margin_padding 0;          border-bottom: 2px solid #333; }
.ya-show-link-icon{display: inline-block;    line-height: normal;    margin: 0 5px 0 0 !important;}

	.ya-school-staff-section{
    .btn{@media(max-width:767px){ width:$input-medium; }} 
    .ya-staff-permission-panel{
      .ya-read-more-less{float:right;}
      .ya-help-text-block{width:100%; float:left;}
    }
    .ya-staff-block{word-wrap: break-word;
      .ya-staff-header-row{font-weight:bold;@include makeFluidRow();@media(max-width:767px){ display:none;  }}
      .ya-staff-row{@include makeFluidRow();@extend .ya-grey-border-bottom;
        .ya-staff-name{@include makeFluidColumn(2.6,0,0);  
          @media(max-width:767px){ @include makeFluidColumn(9,0,0); @include font-bold; font-size:16px; }}
        .ya-staff-email{@include makeFluidColumn(4,0,0); 
          @media(max-width:767px){ @include makeFluidColumn(12,0,0);  }}
        .ya-staff-roles{@include makeFluidColumn(3,0,0);
          @media(max-width:767px){ @include makeFluidColumn(12,0,0);  }}
        .ya-edit-roles{@include makeFluidColumn(1.4,0,0);text-align:right;
          @media(max-width:767px){ @include makeFluidColumn(12,0,0); text-align:left; }}
        .ya-remove{@include makeFluidColumn(2,0,0);text-align:right;  
          @media(max-width:767px){@include makeFluidColumn(3,0,0); }}  

          
        .ya-label{
          @media(max-width:767px){display:block; float:left; margin:0 3px 0 0;}
        }
      }        
    }
    .ya-read-more-less{display:block; 
      .ya-label{float:left;padding: 2px 0 0;}
      .ya-show-link-icon{float:left;}
    }
    .help-block{
      margin:0px !important;
      h3{
        margin:0px !important;
        padding: 20px 0 0;
      }
    }
    .ya-help-text-block {
      p{color:$gray;}
    }
    .ya-star{margin:0 3px;}

  }
  .ya-trainers-section{
    .ya-trainers-block{word-wrap: break-word;
       

      .ya-trainers-row{@include makeFluidRow();@extend .ya-grey-border-bottom;
        .ya-pay-for-registration{@include makeFluidColumn(2,0,0); text-align:center;
        @media(max-width:767px){  margin: 10px 0;}
            .ya-label{ padding:0 10px; @include font-bold; 
              @media(max-width:767px){float:left;}}
            .checkbox{width:auto; text-align:center;
              @media(max-width:767px){float:left;} 
              input{ float:none;@media(max-width:767px){float:left;}}}
          }
        .ya-trainers-name{@include makeFluidColumn(6,0,0);
          .ya-row{@include makeFluidColumn(12,0,0);}
          @media(max-width:767px){ @include makeFluidColumn(12,0,0);}
        }
        .ya-controls{@include makeFluidColumn(4.5,0,0); text-align:right;
          @media(max-width:767px){ @include makeFluidColumn(12,0,0); text-align:left;}}
        .ya-seperator {
            border-left: 1px solid $gray;
            margin: 0 2px 0 0;
        }
        .ya-label{display:block;@include font-regular;}
        .ya-name{@include font-bold; font-size:18px;}
        .ya-date{@include font-bold;margin:0 0 0 20px; @media(max-width:767px){ float: right !important;}}
        .ya-renewal-date{.ya-label{float:left;}
          .ya-date{float:left;}}

         

        ul,li{margin:0px !important;
          list-style-type: none;}
        @media(max-width:767px){margin:0 0 5px 0;}
      }
      
    }
    .ya-label{  display:none;
          @media(max-width:767px){display:block;margin:0;}
    }
    .ya-alert{@include makeFluidRow();}
    .btn{@media(max-width:767px){ width:$input-medium; }} 
  }

.ya-additional-panel{
   @include makeFluidRow(); margin:0 0 10px 0;
  .ya-additional-panel-wrraper{
    background:#fff9e6; @include border-radius($radiusLarge); padding:15px; border:2px solid #999999;    
  }
  .help-block{
      h3{padding:0;}
  }
  ul,li{list-style-type:none; margin:0;}
  .right{text-align:right;}
  .left{text-align:left;}
  .ya-add-staff-modal{background:#fff2cc;}
  .ya-title{ border-bottom: 2px solid #CCCCCC;}
  .ya-note{border:2px solid #CCCCCC;  @include border-radius($radiusLarge); padding:15px; background:#ffffff; margin:0 0 10px 0;
    .ya-button-row{text-align:left !important;}}
  .ya-file{height:auto;}
  .ya-profile-image{max-width:240px;margin: 0 auto;}
  .ya-button-row-center{text-align:center;}
  .ya-add-location-panel{
    .ya-left-column{@include makeFluidColumn(8); @media (max-width:767px){@include makeFluidColumn(12,0,0); }}
    .ya-right-column{@include makeFluidColumn(4); @media (max-width:767px){@include makeFluidColumn(12,0,0); }}
    .ya-button-row{ @media (max-width:767px){text-align:center;}}
  }
  }/*end of panel*/

    .ya-school-heading-section-bar {
      background-color: white;
      @include clearfix();
      padding: 0 $margin_padding;
      margin: $margin_padding * 2 0;
      border: 1px solid #B63313;
      border-radius: $radiusSmall;
      h3{ 
        padding:0; 
        border:0 none;
        color:#B63313;
      }
      cursor:pointer;
      span[data-icon].ya-collapse-icon {
        font-size: 50px;
        margin: -4px 0 !important;
      }
    }



  .ya-collapse-icon:hover,
  .ya-collapse-icon {
    margin: 10px 0 !important;
    cursor: pointer;display: inline-block;
    color: #B63313;
  }
  .ya-grey-border-bottom {
    padding-bottom: 10px;
    margin: $margin_padding 0;
    border-bottom: 2px solid #ccc;
  }
  .ya-black-border-bottom {
    @extend .ya-grey-border-bottom;
    border-bottom: 2px solid #333;
  }
  .ya-section-content{}
  
  .ya-social-icons { 
    .fs1 {
      color: #909090;
      display: inline;
      font-size: 1.7em;
      }
  }



.ya-faculty-section{
  .ya-faculty-block{
    .ya-faculty-row-container{@include makeFluidRow();}
    .ya-faculty-row{@include makeFluidRow(); margin: 0 0 10px;
    .ya-name{@include makeFluidColumn(9,0,0); font-size: 18px;    @include font-bold; 
      @media(max-width:767px){margin: 2px 0 0 0;font-size: 16px; @include makeFluidColumn(6,0,0);}}
    .ya-controls{@include makeFluidColumn(3,0,0); text-align:right;@media(max-width:767px){ @include makeFluidColumn(6,0,0);}}
    .ya-label{@include makeFluidColumn(3,0,0);@media(max-width:767px){ @include makeFluidColumn(12,0,0);}}
    .ya-value{@include makeFluidColumn(6,0,0);@media(max-width:767px){ @include makeFluidColumn(12,0,0);}}
    .ya-seperator{
      border-left: 1px solid $gray; 
      margin:0 4px 0 0;
    }
    }
    .ya-button-row{ 
	.btn{ 
		width:auto;
		min-width:150px;
	}}

  }
  .ya-add-faculty-panel{
  .ya-faculty-form{@include makeFluidRow();
    .ya-first-name-label{@include makeFluidColumn(4,0,0);@media(max-width:767px){@include makeFluidColumn(12,0,0);}}
    .ya-last-name-label{@include makeFluidColumn(4,0,0);@media(max-width:767px){@include makeFluidColumn(12,0,0);}}
    .ya-certifications-label{@include makeFluidColumn(12,0,0)}
    .ya-biography-label{@include makeFluidColumn(12,0,0);}

    /*.ya-first-name-value{@include makeFluidColumn(11,0,0);}
    .ya-last-name-value{@include makeFluidColumn(11,0,0);}
    .ya-certifications-value{@include makeFluidColumn(11,0,0)}
    .ya-biography-value{@include makeFluidColumn(11,0,0);}*/

    

    }

  }
  .control-group{@include makeFluidRow();}

}
.ya-button-row{.btn{width: $input-medium;}@media(max-width:767px){text-align:center;}}

.ya-rate-structure-panel{ 
    .ya-title{margin:0;}
    .ya-row{@include makeFluidRow(); @include border-radius($radiusSmall);
    .ya-label{@include makeFluidColumn(6,0,0);display:block;  @include font-bold; 
      @media(max-width:767px){@include makeFluidColumn(8,0,0);}}
    .ya-value{@include makeFluidColumn(6,0,0); text-align:right;
      @media(max-width:767px){@include makeFluidColumn(4,0,0);}}
    h4.ya-label{ @include font-bold; font-size:15px; margin:10px 0 0 0;}
    h4.ya-value{ @include font-bold; font-size:15px;margin:10px 0 0 0;}

    }
}

}

/*******end of school-registration-3****/






