/* ####################################################
NOTE
scss file for school profile
###################################################
*/
@import "../variables/variables";
@import "../variables/mixins";


$margin_padding: 15px;



// .ya-search-component .ya-search-block{
// 	max-width:none !important;
// 	width: 100% !important;
// }
.ya-school-registration-1 {

	.ya-school-registration-video {
		margin: $margin_padding * 2 auto;
		@media (max-width: 767px) {
			width: 100%;
		}

		.ya-video-container {
			overflow: hidden;
			position:relative;
			margin:0 auto;
			max-width:626px !important;
			height:312px !important;
			iframe, object, embed {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;	
			}
		}	
	}


	// .ya-school-registration-block {
	// 	@include makeFluidRow();
	// }
	@mixin ya-control-group {
	    margin-bottom: $margin_padding;
	}
	@mixin ya-checkbox-group {
	  @include clearfix();
	  margin: $margin_padding / 2 0;
	}

	.ya-school-name {
		@include ya-control-group;
		input[type='text'] {
			width: 95%;
			border: 1px solid black;
		}
		label{
			@include font-bold;
			font-size: 20px;
		}
	}
	.ya-legal-agreement-list {
		margin-left: 23px;
		p {
			margin: 0;
		}
		ul {
			margin: 0 0 0 14px;
			li {
				list-style: disc;
			}
		}
	}

	.ya-legal-agreement-check {
		@include ya-checkbox-group;
		input[type='checkbox'] {
			float: left;
			margin-right: 10px;
		}
	}

	.ya-code-conduct-check {
		@extend .ya-legal-agreement-check;
		label {
			float: left;
			margin-right: $margin_padding;
		}
	}

	.ya-ower-option {
		input[type='radio'] {
			float: left;
			margin-right: 6px;
		}
	}
	.ya-add-staff-member-option {
		@extend .ya-ower-option;
		p {
			margin-left: $margin_padding;
		}
	}

	.ya-continue-btn {
		@media (max-width: 460px) {
			text-align: center;
		}
	}
	.ya-add-staff-member {
		display: none;
	}
}


