.ya-school-review-queue{
	.btn{
		margin:0 auto 10px;
		span{
			position:static;
			vertical-align:middle;
		}
	}
	.input-append .btn,
	.input-prepend .btn{
		min-width:inherit;/* i remove padding top and bottom 5px because theme default setting has been changed. */
	}
	@media (max-width:1200px){
		.input-append{
			display:table;
			width:100%;
			max-width:450px;
			input{
				display:table-cell;
				width:100%;
			}
			.btn{
				display:table-cell;
			}
		}
	}
}