/* ####################################################
NOTE
scss file for school review
###################################################
*/

@import "../variables/variables";
@import "../variables/mixins";


.ya-article {
    @include makeFluidRow();
    .ya-main-section {
        @include makeFluidColumn(9);
		@media (max-width: 767px) {
			@include makeFluidColumn(12, 0, 0);
		}
    }
    .ya-sidebar {
        @include makeFluidColumn(3);
    }
}


$margin_padding: 15px;
$xmin_size: 40px;
.ya-reviews {
    padding: 15px 20px;
	@media (max-width: 767px) {
		padding: $margin_padding * 2 $margin_padding;
	}

}

// Added for Controls
.controls-width {
	display:block;
	margin:0 !important;
	width:100% !important;
}

.ya-overall-rating {
    @include makeFluidRow();
	.ya-star {
		font-size: 17px;
	}
}
.ya-rating-bar{
	@include clearfix();
	> *{
		float:left;
		margin-right:5px;
	}
	.rrtItem{
		padding:0 !important;
	}
	> small{
		margin-top:4px;
	}
}
.ya-widget {
	h3 {
		border: none;
		margin: 0 0 $margin_padding;
		b, strong{
			font-weight:normal;
		}
	}
}
.ya-select {
	@extend .controls-width; // Extend with controls
}
select.ya-select{
	@include gradient-vertical(#EFEFEF, $endColor: #FFFFFF); // use mixins and seperate for <select /> tag only.
    font-size: 13px;
}
.ya-all-reviews {
	.ya-filter {
		@extend .controls-width; // Extend with controls
		margin: 0 !important;
	}
	.input-append {
		@extend .controls-width;
		.ya-text-box{
			width:130px;
		}
		.btn {
			margin: 0 0 0 -1px;	
		}
		@include for-screen(tablet-screen){ // special styles for tablet
			display:table !important;
			.btn,
			.ya-text-box{
				display:table-cell !important;
				float:none;
				width:100%;
			}
			.btn{
				width:10%;
			}
		}
		@include for-screen(mobile-screen){	width:100% !important;	*width: 99.94681% !important;} // special style for mobile
	}
	.ya-all-review-controls {
		.ya-select,
		.ya-programs,
		.ya-tracks{
			@extend .controls-width;
		}
		table{
			width:100% !important;
		}
		.ya-review-control{
		  display: block;
		  width: 100%;
		  min-height: 30px;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  float: left;
		  margin-top:0 !important;
		  margin-bottom:15px !important;
		  margin-left: 2.12766%;
		  *margin-left: 2.07447%;
		  width: 23.40426% !important;
		  *width: 23.35106% !important;
			&:first-child{
				margin-left:0;
			}
			@include for-screen(tablet-screen){
				width: 48.93617% !important; *width: 48.88298% !important;
				&:nth-child(Odd){
					margin-left:0;
				}
			}
			&.ya-input-append{
				@include for-screen(mobile-screen){	width:100% !important;	*width: 99.94681% !important;} // special style for mobile
			}
		}
	}	
}	
.ya-input-xmini {
	width: $xmin_size;
	height: 30px; 
}


.ya-latest-comments-items {
    @include makeFluidRow();
    .ya-latest-comments-item {
        @include makeFluidColumn(6);
		@media (max-width: 979px) {
			 @include makeFluidColumn(12, 0, 0);
			 margin-left:0;
			 margin-top:13px;
		}
    }
}

// for alert
.alert .LblReviewsLast30Days{
	float:none;
	margin:0;
}

// for border bottom of heading
.ya-all-reviews{
	h3{
		border-bottom:1px solid $grayDark;
		padding-bottom:5px;
	}
}










