/* ####################################################
NOTE
scss file for Teacher Renew
###################################################
*/

// here delete '@import "bootsrap-responsive";' and its @mixin clearfix(); manually.
@import "../variables/variables";
@import "../variables/mixins";
@mixin clearfix {
  *zoom: 1;
	&:before, &:after {
	  display: table;
	  content: "";
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}
}



$gridFluidColumnWidth: 6.38298%;
$gridFluidGutterWidth: 2.12766%;

@mixin makeFluidRow() {
  width: 100%;
  @include clearfix();
}
@mixin makeFluidColumn($columns: 1, $offset: 0, $marginRate: 1) {
  float: left;
  margin-left: (($gridFluidColumnWidth * $offset) + ($gridFluidGutterWidth * ($offset - 1)) + ($gridFluidGutterWidth * 2)) * $marginRate;
  width: ($gridFluidColumnWidth * $columns) + ($gridFluidGutterWidth * ($columns - 1));
  
  &:first-child {
    margin-left: 0;
  }
}

$margin_padding: 15px;

.ya-article {
  @include makeFluidRow();
  
  .ya-renewals {
    @include makeFluidColumn(9);
    .ya-renewals-header {
      @include makeFluidRow();
      margin-bottom: $margin_padding * 2;
      .ya-renewals-header-left {
        @include makeFluidColumn(4);
      }
      .ya-renewals-header-right {
        @include makeFluidColumn(8);
        @media (max-width: 767px) {
          @include makeFluidColumn(12, 0, 0);
        }
        > h3 {
          @media (max-width: 767px) {
           font-size: 17px;
         }
       }
     }
   }

   @media (max-width: 979px) {                                    
     @include makeFluidColumn(12, 0, 0);
    }
  }
 .ya-right-sidebar {
    @include makeFluidColumn(3);
  }
}




$yellow: #E5A053;
$lead_font_size: 16px;
.main-box {
  padding: $margin_padding * 2;
  @media (max-width: 767px) {
    padding: $margin_padding * 2 $margin_padding;
  }


}
.ya-rate-structure {
  background-color: #fff9e6;  
  border: 2px solid #999999;   
  border-radius: 3px;
  padding: $margin_padding;
  margin: 0 0 $margin_padding;
}
.ya-renewals-block {
  @include makeFluidRow();
  margin-bottom: $margin_padding;
  position: relative;
}
article {
  @extend .ya-renewals-block;
}

$icon_font_size: 20px;
span[data-icon] {
  font-size: $icon_font_size;
  margin: 10px;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}
.ya-green-font {
  color: #119e20;
}
.ya-renewals-btngroup {
  @include makeFluidRow();
  @media (max-width: 767px) {
    text-align:center;
  }
  .ya-renewals-btncolumn {
    @include makeFluidColumn(6);
    @media (max-width: 767px) {
      @include makeFluidColumn(12, 0 ,0);
      text-align:center;
    }
  }
  > .btn {
    margin-right: $margin_padding;
  }
}
.ya-help-icon {
  color: #E5A053 !important;
}
.ya-button-large {
  width: 220px;
}
.ya-grey-border-bottom {
  padding-bottom: 10px;
  margin: $margin_padding 0;
  border-bottom: 2px solid #ccc;
}
.ya-black-border-bottom {
  @extend .ya-grey-border-bottom;
  border-bottom: 2px solid #333;
}

.ya-renewal-date-block {
  margin: $margin_padding 0;
  @extend .ya-grey-border-bottom;
  @media (max-width: 767px) {
    @include makeFluidColumn(12);
	margin-left:0;
  }
  .ya-renewal-date-label {
    @include makeFluidColumn(2.3);
    @media (max-width: 767px) {
      @include makeFluidColumn(6);
    }
  }
  .ya-renewal-date-value {
    @include makeFluidColumn(9.7);
    @media (max-width: 767px) {
      @include makeFluidColumn(6);
    }
    .ya-action {
      cursor: pointer;
      margin: 5px 0 0 0;
      display: inline-block;
    }
  }

}
.ui-datepicker-trigger {
  float: left;
  margin: 4px 5px;
  cursor: pointer;
}
.ya-total-calc-region {
  color: $yellow;
  font-weight: bold;
  .ya-total-label {
    margin-right: $margin_padding * 1.5;
  }
}
.ya-upgrade-renew-now {
  > .ya-renewals-block {
    @extend .ya-grey-border-bottom;
  }
  h3 {
    @extend .ya-black-border-bottom;
  }
}
h1.ya-page-title {
   border-bottom: 1px solid black;
}


.ya-payment-processing {
	.paypal {
		padding: 12px 24px;
		font-size: 18px;
	}
}

// these style neet to add for global sidebar menu.


.sidenavbutton{
  display: block;
  line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius($baseBorderRadius);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
  padding: $paddingLarge;
  margin:10px;
  font-size: $fontSizeLarge !important;
  @include border-radius($borderRadiusLarge);
// on hover state
  &:hover,
  &:focus {
    color: $grayDark;
    text-decoration: none;
    background-position: 0 -15px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }
}
.sidenavbox{
	.navbar{
		margin-bottom:0;
		.nav{
			margin:0;
			padding:0 !important;
			float:none;
			li{
				float:none;
				&,&.active{
					a{
						&:hover{
							background-color: #111111;
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
}

.navbar .btn-navbar{
	@include for-screen(tablet-screen) {
		display:inline-block;
		min-width:inherit;
		span{
			margin-right:0;
			top:0;
		}
	}
}
// end here