@import "../variables/variables";
@import "../variables/mixins";

// these style neet to add for global sidebar menu.

#btnAddHours,
.sidenavbutton{
  display: block;
  line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius($baseBorderRadius);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05));
  padding: $paddingLarge;
  margin:10px;
  font-size: $fontSizeLarge !important;
  @include border-radius($borderRadiusLarge);
// on hover state
  &:hover,
  &:focus {
    color: $grayDark;
    text-decoration: none;
    background-position: 0 -15px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }
}
.sidenavbox{
	.navbar{
		margin-bottom:0;
		.nav{
			margin:0;
			padding:0 !important;
			float:none;
			li{
				float:none;
				&,&.active{
					a{
						&:hover{
							background-color: #111111;
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
}

.navbar .btn-navbar{
	@include for-screen(tablet-screen) {
		display:inline-block;
		min-width:inherit;
		span{
			margin-right:0;
			top:0;
		}
	}
}
// end here

button.btn, input.btn[type="submit"]{
	height:30px;
}
.teaching-hour-entry{
	padding-left:0;
}
.teaching-hour-entry input[type="text"]{
	width:43%;
}
.teaching-hour-entry select,
.teaching-hour-entry textarea{
	width:45%;
}
.dnnControlError{
	color:$red;
	display:block;
	margin:0 0 5px;
}
.date-wrap{
	margin-left:0;
	margin-bottom:10px;
}
@media (max-width: 767px) {
.teaching-hour-entry select,
.teaching-hour-entry textarea,
.teaching-hour-entry input[type="text"]{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
}