@import "../variables/variables.scss";
@import "../variables/mixins.scss";


.ya-search-component {


	#SearchType {
	  @include font-bold; 
	  line-height: 28px;
	  margin-bottom: 12px;
	}

	@include for-screen(mobile-screen) {
		input[type="text"]{
			width:50%;
		}

	}
	@include for-screen(mobile-small-screen) {
		input[type="text"]{
			width:100%;
		}

	}

} 