// Styles for modal content and Bootstrap Modal overrides

// TODO: Some of these colors need to be placed in variables inside library/variable
.modal {
    @include box-shadow(0 0 5px 2px $gray);
	border:1px solid $brownDarkest;
	overflow:hidden;
}

.modal-backdrop {
    background-color: transparent;
}

.ya-modal {
    display: none;    
    overflow-y: hidden;
    height: 550px;
    max-width: 800px;
	.ya-help-icon{
		font-size:120px;
		position:absolute;
		left:-30px;
		bottom:-20px;
		margin:0;
		color: $yellowDark !important;
		@media (max-width: 767px){
			display:none;
		}
	}
}

.ya-help-header {
	padding:40px 0 0;
	margin: 0 15px;
    border-bottom: 1px solid $grayLight;
    h1 {
        color: $yellowDark;
		@include font-semi-bold;
		float:left;
    }

    hr {
        margin: 0;
    }
}

.ya-new-window, .ya-new-window:hover {
    float: right;
    cursor: pointer;
    margin-top: 30px;
    color: $red;
}

.ya-new-window-link {
    color: $grayDark;
    font-size: 18px;
}

.ya-close, .ya-close:link, .ya-close:hover {
    @include border-top-right-radius($borderRadiusSmall);
    @include border-bottom-left-radius($borderRadiusSmall);

    background-color: $red;
    background-image: none;
    color: $redLight;
	font-weight:bold;
    margin: 0;    
    padding: 5px 15px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
}
.modal-body {
	overflow:inherit;
	padding:0;
	iframe{
		overflow:auto;
	}
	.yas-main-content{
		padding:15px;
	}
}


.ya-help-content {
    height: 448px;
	padding:25px 20px 45px;
	overflow:auto;
}

.ya-help-item {
    margin-bottom: 30px;

    * {
        color: #696563;
        border: none;
    }

    h3 {
        border: none;
    }
}

.ya-help {
    color: $yellowDark;
}


sup a.ya-help {
    font-size: .6em;
}