/* ####################################################
NOTE
scss file for school review
###################################################
*/
/* line 11, ../../css-src/pages/school-reviews.scss */
.ya-article {
  width: 100%;
  *zoom: 1;
}
/* line 15, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-article:before, .ya-article:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-article:after {
  clear: both;
}
/* line 13, ../../css-src/pages/school-reviews.scss */
.ya-article .ya-main-section {
  float: left;
  margin-left: 2.12765%;
  width: 74.46793%;
  *width: 74.41473%;
}
/* line 46, ../../css-src/variables/_mixins.scss */
.ya-article .ya-main-section:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 13, ../../css-src/pages/school-reviews.scss */
  .ya-article .ya-main-section {
    float: left;
    margin-left: 0%;
    width: 99.99979%;
    *width: 99.94659%;
  }
  /* line 46, ../../css-src/variables/_mixins.scss */
  .ya-article .ya-main-section:first-child {
    margin-left: 0;
  }
}
/* line 19, ../../css-src/pages/school-reviews.scss */
.ya-article .ya-sidebar {
  float: left;
  margin-left: 2.12765%;
  width: 23.40421%;
  *width: 23.35101%;
}
/* line 46, ../../css-src/variables/_mixins.scss */
.ya-article .ya-sidebar:first-child {
  margin-left: 0;
}

/* line 27, ../../css-src/pages/school-reviews.scss */
.ya-reviews {
  padding: 15px 20px;
}
@media (max-width: 767px) {
  /* line 27, ../../css-src/pages/school-reviews.scss */
  .ya-reviews {
    padding: 30px 15px;
  }
}

/* line 36, ../../css-src/pages/school-reviews.scss */
.controls-width, .ya-select, .ya-all-reviews .ya-filter, .ya-all-reviews .input-append, .ya-all-reviews .ya-all-review-controls .ya-select,
.ya-all-reviews .ya-all-review-controls .ya-programs,
.ya-all-reviews .ya-all-review-controls .ya-tracks {
  display: block;
  margin: 0 !important;
  width: 100% !important;
}

/* line 42, ../../css-src/pages/school-reviews.scss */
.ya-overall-rating {
  width: 100%;
  *zoom: 1;
}
/* line 15, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-overall-rating:before, .ya-overall-rating:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-overall-rating:after {
  clear: both;
}
/* line 44, ../../css-src/pages/school-reviews.scss */
.ya-overall-rating .ya-star {
  font-size: 17px;
}

/* line 48, ../../css-src/pages/school-reviews.scss */
.ya-rating-bar {
  *zoom: 1;
}
/* line 15, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-rating-bar:before, .ya-rating-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-rating-bar:after {
  clear: both;
}
/* line 50, ../../css-src/pages/school-reviews.scss */
.ya-rating-bar > * {
  float: left;
  margin-right: 5px;
}
/* line 54, ../../css-src/pages/school-reviews.scss */
.ya-rating-bar .rrtItem {
  padding: 0 !important;
}
/* line 57, ../../css-src/pages/school-reviews.scss */
.ya-rating-bar > small {
  margin-top: 4px;
}

/* line 62, ../../css-src/pages/school-reviews.scss */
.ya-widget h3 {
  border: none;
  margin: 0 0 15px;
}
/* line 65, ../../css-src/pages/school-reviews.scss */
.ya-widget h3 b, .ya-widget h3 strong {
  font-weight: normal;
}

/* line 73, ../../css-src/pages/school-reviews.scss */
select.ya-select {
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, #efefef, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(white));
  background-image: -webkit-linear-gradient(top, #efefef, white);
  background-image: -o-linear-gradient(top, #efefef, white);
  background-image: linear-gradient(to bottom, #efefef, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFEFEF', endColorstr='#FFFFFFFF', GradientType=0);
  font-size: 13px;
}

/* line 78, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews .ya-filter {
  margin: 0 !important;
}
/* line 84, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews .input-append .ya-text-box {
  width: 130px;
}
/* line 87, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews .input-append .btn {
  margin: 0 0 0 -1px;
}
@media (max-width: 979px) {
  /* line 82, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .input-append {
    display: table !important;
  }
  /* line 93, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .input-append .btn,
  .ya-all-reviews .input-append .ya-text-box {
    display: table-cell !important;
    float: none;
    width: 100%;
  }
  /* line 98, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .input-append .btn {
    width: 10%;
  }
}
@media (max-width: 767px) {
  /* line 82, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .input-append {
    width: 100% !important;
    *width: 99.94681% !important;
  }
}
/* line 110, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews .ya-all-review-controls table {
  width: 100% !important;
}
/* line 113, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews .ya-all-review-controls .ya-review-control {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
  margin-left: 2.12766%;
  *margin-left: 2.07447%;
  width: 23.40426% !important;
  *width: 23.35106% !important;
}
/* line 127, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews .ya-all-review-controls .ya-review-control:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  /* line 113, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .ya-all-review-controls .ya-review-control {
    width: 48.93617% !important;
    *width: 48.88298% !important;
  }
  /* line 132, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .ya-all-review-controls .ya-review-control:nth-child(Odd) {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  /* line 136, ../../css-src/pages/school-reviews.scss */
  .ya-all-reviews .ya-all-review-controls .ya-review-control.ya-input-append {
    width: 100% !important;
    *width: 99.94681% !important;
  }
}

/* line 142, ../../css-src/pages/school-reviews.scss */
.ya-input-xmini {
  width: 40px;
  height: 30px;
}

/* line 148, ../../css-src/pages/school-reviews.scss */
.ya-latest-comments-items {
  width: 100%;
  *zoom: 1;
}
/* line 15, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-latest-comments-items:before, .ya-latest-comments-items:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../../css-src/vendor/bootstrap/_mixins.scss */
.ya-latest-comments-items:after {
  clear: both;
}
/* line 150, ../../css-src/pages/school-reviews.scss */
.ya-latest-comments-items .ya-latest-comments-item {
  float: left;
  margin-left: 2.12765%;
  width: 48.93607%;
  *width: 48.88287%;
}
/* line 46, ../../css-src/variables/_mixins.scss */
.ya-latest-comments-items .ya-latest-comments-item:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  /* line 150, ../../css-src/pages/school-reviews.scss */
  .ya-latest-comments-items .ya-latest-comments-item {
    float: left;
    margin-left: 0%;
    width: 99.99979%;
    *width: 99.94659%;
    margin-left: 0;
    margin-top: 13px;
  }
  /* line 46, ../../css-src/variables/_mixins.scss */
  .ya-latest-comments-items .ya-latest-comments-item:first-child {
    margin-left: 0;
  }
}

/* line 161, ../../css-src/pages/school-reviews.scss */
.alert .LblReviewsLast30Days {
  float: none;
  margin: 0;
}

/* line 168, ../../css-src/pages/school-reviews.scss */
.ya-all-reviews h3 {
  border-bottom: 1px solid #888888;
  padding-bottom: 5px;
}
